body{
    width: 100vw;
}

.container{
    margin-top: 10rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.container img{
    margin: 1rem;
    width: 10rem;
    aspect-ratio: 1;
}